.banner .title {
    margin: 0 auto;
    width: 90%;
    height: 250px;
    border-radius: 25px;
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../img/talk.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container{
    /* grid-column: 1 / 4; */
}