.banner .title {
    margin: 0 auto;
    width: 90%;
    height: 250px;
    border-radius: 25px;
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../img/menu.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu_items {
    width: 80%;
}


@media only screen and (min-width: 768px) {
    .grid-wrapper {
        grid-template-rows: 100px 1fr 50px;
        grid-template-columns: 150px 1fr 150px;
        grid-template-areas: 
            'header header header'
            'sidebar1 content sidebar2'
            'footer footer footer'
    }
}