* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* *:focus {
    outline: none
} */

::placeholder {
    color: rgb(196, 196, 196);
    padding-left: 5px;
}

body {
    display: grid;
    grid-template-areas:
        'header'
        'sidebar1'
        'sidebar2'
        'content'
        'footer';
    grid-template-rows: 100px 80px 80px 1fr 50px;
    grid-gap: 0.5rem;
    min-height: 100vh;
    background-color: seagreen;
    grid-template-rows: 100px 80px 80px 1fr 50px;
    grid-gap: 0.5rem;
    min-height: 100vh;
    
}

.active {
    border-bottom: 1px solid #fff;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: 2 / 3;
    padding: 0 10px;
    border-style: groove;
    border-radius: 20px;
    align-items: center;
    
}

.header {
    grid-area: header;
    width: 100%;
    display: flex;
    justify-content: center;
    grid-area: header;
}

.header .navbar {
    width: 90%;
    position: relative;
    padding: 5px 60px;
    background:grey;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header .navbar .links {
    margin: 0 auto;
}

.header .navbar .links a {
    margin: 10px;
    color: #fff;
}

.header .navbar .phone {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header .navbar .phone a {
    color: #fff;
}

.header .navbar .phone .call {
    margin-right: 5px;
    margin-top: 2px;
}

.navbar .logo {
    width: 60px;
    height: 60px;
    margin: 10px 20px;
  
}

.navbar .logo img {
    width: 100%;
    height: 100%;
}

/* .intro_video {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 60px;
} */

.intro_video video {
    width: 100%;
    display: flex;
    justify-items: center;
}
.intro_video { 
    text-align:center ;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    text-align: center;
}

.menu_items {
    margin: 0 auto;
    width: 100%;
}

.menu_items .container {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu_items .container .see_more {
    display: flex;
    align-items: center;
}

.menu_items .container .see_more a {
    color: #000;
}

.menu_items {
    margin-right: 5px;
}

.menu_items .items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(6);
    grid-gap: 2rem;
    grid-auto-flow: dense;
    margin: 30px 0;
}

.menu_items .items a {
    color: #000;
    transition: all 0.2s;
}

.menu_items .items a:hover {
    transform: scale(1.08);
}

.menu_items .item {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid;
    border-radius: 20px;
    overflow: hidden;
    align-items: center;
    
    
}
.donair-image {
    background-image: url("../img/donair-pizza.jpeg");}

.menu_items .item .image {
    /* background-image: url("../img/donair-pizza.jpeg"); */
    width: 350px;
    height: 350px;
    border-radius: 100px;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    border-radius: 2000px;

    
}

.menu_items .item .img {
    width: 100%;
    height: 100%;
}

.menu_items .item .title {
    background-image: url("../img/donair-pizza.jpeg");
    text-align: center;
    margin: 10px 0;
    background-position: center;
    background-size: cover;
    border-radius: 2000px;
    width: 350px;
    height: 350px;
}

.menu_items .item p {
    word-break: break-all;
    opacity: 0.7;
}

.menu_items .content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}

.menu_items .content {
    border: none;
    padding: 5px 7px;
    border-radius: 100px;
    background: rgb(96, 209, 156);
}

.menu_items .content {
    color: #fff;
    font-size: 20px;
    margin-top: 2px;
}

.map {
    display: flex;
    margin-top: 60px;
    margin-bottom: 60px;
    align-items: center;
    
}

.map  {
    display: flex;
    flex-direction: column;
}

.map  p {
    word-break: break-all;
}

.map .description {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    width: 50%;
}

.map h2 {
    margin-bottom: 10px;
}

.footer {
    padding: 0 80px;
    width: 100%;
    height: 100px;
    color: #fff;
    align-items: center;
    display: flex;
    justify-content: space-between;
    background: rgb(68, 68, 68);
    grid-area: footer;
}

.footer .logo {
    width: 60px;
    height: 60px;
    margin: 10px 0;
}

.footer .logo img {
    width: 100%;
    height: 100%;
}

.footer a {
    color: #fff;
    margin-right: 20px;
    cursor: pointer;
}

.banner {
    width: 90%;
    margin: 60px auto;
}

section {
    margin: 50px 0;
    display: flex;
    flex-direction: column; 
    text-align: left;
    padding: 0 50px;
}

section p {
    margin-top: 100px;
    line-height: 30px;
    opacity: 1;
}

section a {
    margin-top: 20px;
    opacity: 0.5;
    text-decoration: none;
    color: #000;
}

section a:hover {
    opacity: 1;
}

.banner .content {
    margin: 90px auto;
    width: 90%;
    line-height: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
}

.banner .title {
    margin: 0 auto;
    width: 90%;
    height: 250px;
    border-radius: 25px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner .title span {
    font-size: 70px;
    color: #fff;
}


.sidebar1 {
    grid-area: sidebar1;
}

.sidebar2 {
    grid-area: sidebar2;
}

main {
    grid-area: content;
}

footer {
    grid-area: footer;
}



@media only screen and (min-width: 768px) {
    .grid-wrapper {
        grid-template-rows: 100px 1fr 50px;
        grid-template-columns: 150px 1fr 150px;
        grid-template-areas: 
            'header header header'
            'sidebar1 content sidebar2'
            'footer footer footer'
    }
}

